
body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
	 color:#0065FC;
    text-decoration: none;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
}

* {
    font-family: "Raleway", "Sans serif";
    list-style: none;
    /*border:1px solid #F34607 */
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*! HEADER" */

.logo {
margin-top: 50px;
align-items: flex-end;
display: flex;
}


header .headerclock .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.sinscrire  ul:nth-child(1) {
 padding-left: 0px;
}

.hebergement {
    text-align: center; 
   }

.hebergement:hover,
.activite:hover,
.inscription:hover{
 border-top: 2px solid #0065FC;
}


header .headerclock .navigation nav,
header .headerclock .navigation nav ul {
    flex-direction: row;
    list-style: none;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
}

.navigation nav:nth-child(2) ul:nth-child(1) {
 margin-bottom: 0px;
 display: flex;
 justify-content: space-between;
 padding-left: 0px;
 width: 100%;
}

.inscription {
display: flex;
justify-content: flex-end;
}

.hebergement {
 display: flex;
 justify-content: center;
}

.activite {
 display: flex;
 justify-content: center ;
}


header .headerclock .navigation nav ul li:first-child,
header .headerclock .navigation nav a.sinscrire {
    color: #0065FC;
    margin-bottom: 0px;
}

header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding: 0;
}



.menu1 {
    display: flex;
    flex-wrap: wrap;
}

.hebergement,
.activite {
    order: 2;
    flex: 0 1 100%;
}

.inscription {
    order: 3;
    flex: 0 1 100%
     }




/*Recherche*/

.rechercheetfiltre h1 {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}

form.searchbar button[type="reset"] {
    background: #F2F2F2;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    padding-top: 7px;
    padding-bottom: 10px;
}

form.searchbar button[type="submit"] {
    display: flex;
    background: #0065FC;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: #FFF;
    height: 43px;
    padding: 0px 15px;
    margin-left: -10px;
}
form.searchbar button:nth-child(3){
align-items: center;
justify-content:center;
}

form.searchbar button:nth-child(4){
align-items: center;
justify-content:center;
}

form.searchbar {
    display: flex;
    text-align: inherit;
}

form.searchbar input {
    background: transparent;
    border: 1px #F2F2F2 solid;
    padding: 11px 5vw;
    margin-left: -15px;
    height: 20px;
}
p.buttontext2 {
        display: none;
    }

/*Filtres*/

.button p {
    font-weight: bold;
    font-size: 15px;
}

.formfilter {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.formfilter,
.formfilter .formcontenu {
    display: flex;
    flex-flow: row wrap;
}

.formfilter .formtitre {
    margin-bottom: 20px;
    padding-top: inherit;
    padding-right: 20px;
}

.formfilter .button {
    display: flex;
    justify-content: space-between;
    border-radius: 200px;
    border: 2px #F2F2F2 solid;
    height: 50px;
    position: relative;
    padding-left: 55px;
    padding-right: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
    transition: transform .2s;
    cursor: pointer;
}

.formfilter .button:hover {
    transform: scale(1.05);
}


.formfilter .button:last-child {
    margin-right: 0;
}

.formfilter .button i {
    line-height: 50px;
    color: #0065FC;
    position: absolute;
    width: 50px;
    text-align: center;
    background: #DEEBFF;
    left: -2px;
    border-radius: 100%;
}

.button {
    margin: auto;
}


.nbrlgmt {
    padding: 5px 0;
    display: inline-flex;
}

.nbrlgmt i {
    border: 2px solid #F2F2F2;
    width: 29px;
    line-height: 25px;
    font-size: 14px;
    color: #0065FC;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
}

p.nbrl {
    margin: auto;
    padding-left: 3px;
}


/* "hebergements" et "Les plus populaires */

.leplupop .fastar {
    position: absolute;
    bottom: 5%;
}

figure:hover {
    transform: scale(1.02);
}

.figure:hover {
    transform: scale(1.02);
}

.resermars.container {
    display: flex;
    flex-flow: row wrap;
}

#hebermars .classicmars {
    order: 1;
    flex: 1;
    margin-right: 3%;
}

#hebermars .leplupop {
    order: 2;
    flex: 0 1 35%;
}

#hebermars .pickbackground {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 30px 25px;
    min-height: 519px;
    margin-bottom: 20px;
    height: 87%
}

#hebermars .pickbackground .groupdefigures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
}

#hebermars .pickbackground .groupdefigures figure {
    width: calc(100% / 3.3);
    background: #FFF;
    padding: 0.3rem;
    border-radius: 1.25rem;
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 10px #55555538;
    cursor: pointer;
    transition: transform .2s;
}

#hebermars .pickbackground .groupdefigures figure figcaption {
    padding: 10px;
    position: relative;
}

#hebermars .pickbackground .groupdefigures figure figcaption p {
    margin: 0;
}

#hebermars .pickbackground .groupdefigures figure figcaption p:first-child {
    font-size: 14px;
}

#hebermars .pickbackground .groupdefigures figure figcaption p:nth-child(2) {
    font-size: 12px;
    margin: 5px 0;
}

#hebermars .pickbackground .groupdefigures figure figcaption i {
    color: #0065FC;
    font-size: 12px;
}

#hebermars .pickbackground .groupdefigures figure img {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

#hebermars .leplupop .groupdefigures {
    flex-direction: column;
}

#hebermars .leplupop .groupdefigures figure {
    width: auto;
    display: flex;
    flex-direction: row;
}

#hebermars .leplupop .groupdefigures figure img {
    max-width: 100px;
    max-height: initial;
    height: 115px;
    border-radius: 20px 0 0 20px;
}

#hebermars h1,
#hebermars .fachart {
    display: flex;
    justify-content: space-between;
}

#hebermars h1 i {
    margin: auto 0;
}

.titre {
 flex-wrap: nowrap;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* "Activités à Marseille" */

.adescript {
    padding: 0px 0px 0px 15px;
    height:43px;
}

.didvtext {
    padding: 0px 0px 0px 15px;
    height:43px;
}

.activmarsection .groupvignett {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px
}

#activmars {
    font-size: 0.9em
}

#activmars ul li {
    padding: 3px;
    background: #FFF;
    border-radius: 20px;
    margin: 0 0 30px 0;
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
}

#activmars ul li img {
    height: 100%;
    max-height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#activmars .groupdefigures .vignetdoubl {
    display: flex;
    flex-direction: column;
    order: 2;
    flex: 0 1 35%;
}

#activmars .groupdefigures .figure {
    width: 100%;
    background: #FFF;
    border-radius: 20px;
    margin: 0 0 30px 0;
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    cursor: pointer;
    transition: transform .2s;
}
#activmars .groupdefigures .vignetdoubl .figure:nth-child(2) {
margin-bottom: 0;
}

#activmars .groupdefigures .figure:hover {
    transform: scale(1.05);
}

#activmars .groupdefigures .figure img {
    height: 100%;
    max-height: 115px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
    bottom: 0;
    border-top: 0;
    position: inherit;
    justify-content: space-around;
    display: flex;
    font-size:0.8em; 
}

.footer {
   padding: 20px;
    width: 100%;
}
.footer:nth-child(1) {
 padding-left: 5%;
 }
 
ul.listapuce {
    color: #464646;
    padding: 0;
    line-height: 2rem;
}





/*! media querries version desktop */

@media (min-width: 992px) {
    .container {
        width: 90vw;
    }
.formfilter .button:first-child {
    margin-left: 0;
}
    
     section#activmars {
        width: 98vw;
        margin-left: auto;
        margin-right: auto;
    }
   form.searchbar button:nth-child(3) {
        display: inherit; ;
    }
   form.searchbar button:nth-child(4) {
        display: none;
    }
    .hebergement:hover,
    .activite:hover{
border-bottom:none;
 padding-top:68px;
	}
	.inscription:hover{
 border-bottom:none;
 padding-top:68px;
	}
	.hebergement, .activite, .inscription {
	padding-top: 70px;
	justify-content: center;
}
	
    }

/* media querries version tablette */

@media (max-width:992px) {
    body {
        width: 100%;
}
.formfilter .button {
margin: 2%;
margin-left: 0

}

.logo {
position: absolute;
margin-top: 0;
}


   form.searchbar button:nth-child(3) {
        display: none ;
    }
   form.searchbar button:nth-child(4) {
        display: inherit;
    }
    
    .headerclock {
        padding: 0;
        position: relative;
        padding-bottom: 56px;
    }
    .activite {
       text-align: center;
    padding-top: 50px;
    margin: 0;
    border-bottom: 3px solid #99999960;
    order: 2;
flex: 0 1 50%
}
    .hebergement {
    text-align: center;
    padding-top: 50px;
    margin: 0;
    border-bottom: 3px solid #99999960;
    order: 2;
flex: 0 1 50%
}
ol{
display: flex;
flex-wrap: wrap-reverse;
width: 100%;
padding: 0;
}

    .hebergement:hover, .activite:hover {
    border-bottom: 3px solid #0065FC;
}
    .hebergement:hover, .activite:hover, .inscription:hover {
    border-top: none;
    }
       .menu1 {
        width: 110%;
        margin-left: -5%;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        align-content: flex-end;
           }
    .sinscrire {
        display: flex;
        justify-content: flex-end;
        margin-left: -0%;
    }
    header .headerclock .navigation nav ul {
        display: flex;
        flex-direction: row;
       }
    header .headerclock .navigation nav,
header .headerclock .navigation nav {
    flex-direction: row;
    list-style: none;
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
    align-items: center;   
}

    .groupdefigures .groupvignett {
        width: 100%;
        display: flex;
        flex-direction : column;
    }
    .hebergement:hover,
    .activite:hover{
border-bottom: 3px solid #0065FC;
	}
	 .activmarsection > div:nth-child(1) > h1:nth-child(1) {
 margin-left: 3%;
}
    #hebermars .classicmars {
        padding: 15px 0;
        min-width: 50%;
        margin-right: 0px;
        border-bottom: 3px solid white;
    }
    #hebermars .leplupop {
    order: 0;
    flex: 0 1 100%;
}
  	 #hebermars .classicmars {
margin-right: 0%;
}
    #activmars .groupvignett .groupdefigures .vignet .vignetdoubl {
	display: flex;
	flex-wrap:wrap;
	}
	 #activmars .groupvignett {
        width: 100%;
        display: flex;
        flex-flow : column
    }
  	 #activmars .groupdefigures {
    	  width: 100%;
    	  display: flex;
    	  flex-flow : row ;
    	  margin: 20px ;
    	  margin-left:0px;
    	      	  }
    #activmars .groupdefigures .vignet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    order: 1;
    flex: 1 1 20% ;
}
    #activmars .vignet .figure:nth-child(1) {
width: 93% ;
}
    #activmars .adescript {
    text-align: left;
    padding: 0px;
    }
    #activmars .didvtext {
    text-align: left;
    padding: 0px;
    }
    #activmars .groupdefigures .vignetdoubl {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    order: 2;
    flex: 2 1 45%;
}
    #activmars .groupdefigures .figure {
    width: 100%;
   height: 80%;
  }
    #activmars .vignetdoubl .figure:nth-child(1){
width: calc(100%/2.4)
}
    #activmars .vignetdoubl .figure:nth-child(2){
width: calc(100%/2.4);
margin-right: 43px;
padding-right: 5px;

}
    #activmars .groupvignett {
	padding-left: 25px;
   padding-right: 3%;
}
}

/*min-width : 992px*/

@media(min-width: 992px) {
    .nav-hebergement {width: 100%;
margin-left: 5%;

        text-align: center;
        border-top: 3px solid #0065FC;
        border-bottom: 0px solid #0065FC;
        margin: 15px 0;
    }
    .navigation nav {
    width: 33%}
    
    header .headerclock .navigation nav ul li {
        margin: 0 20px;
        padding-top: 20px;
    }
    header .headerclock .navigation nav ul li {
        padding-top: 50px;
    }
    header .headerclock .navigation nav,
    header .headerclock .navigation nav ul {
        margin-top: 0px;
        list-style: none;
        display: flex;
        flex-flow: nowrap;
        align-items: flex-start;
    }
    ol {
  	display: flex;
	align-content: flex-start;
	margin-top: 0px;
}
    .hebergement:hover, .activite:hover {
    border-bottom: none;}
    
  .navigation nav:nth-child(2) ol:nth-child(1) {
 display: flex;
 width: 100%;
 justify-content: space-between;
 padding-left: 0px;
}


    #activmars .groupdefigures:nth-child(1) {
        width: 50%;
        display: flex;
        justify-content: flex-start     
    }
    #activmars .groupdefigures:nth-child(2) {
        width: 50%;
        display: flex;
        justify-content: flex-end        
    }
    #activmars .groupdefigures:nth-child(2) .vignetdoubl{
         margin-right: 0;
         margin-bottom:auto;
         margin-left:auto;
         margin-top:auto; }
    #activmars .groupdefigures:nth-child(1) .vignetdoubl{
         margin:auto; }
    #activmars .groupdefigures:nth-child(1) .vignet{
         margin-left: 0;
         margin-bottom:auto;
         margin-right: auto;
         margin-top:auto;}
    #activmars .groupdefigures:nth-child(2) .vignet{
         margin:auto; }
    #activmars .groupdefigures .vignetdoubl,
    #activmars .groupdefigures .vignet {
        max-width: 45%;
        min-width: 45%;
           }
    #activmars .groupdefigures .vignet,
    #activmars .groupdefigures .vignet .figure {
        height: 100%;
    }
    #activmars .groupdefigures .vignet .figure .divimage,
    #activmars .groupdefigures .vignet .figure .divimage img {
        max-height: initial;
        height: 92%;
        margin-bottom: -9%;
    }
}

/* Media queries smartphone*/

@media(max-width: 768px) {
.container {
        padding-right: 0px;
        padding-left: 0px;
}
header {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2.5%;
}

.footer {
padding-left: 5% !important;
}

.formfilter, .formfilter .formcontenu  {
	justify-content : space-between;
}
.formfilter .button {
    margin-right: 0;
}
.logo {
margin-top: 10px
	}
ol {
	 width: 110%;
	 }

.classicmars .pickbackground {
background: white !important;
 }
form.searchbar input {
width: 100%
}
form.searchbar {
display: flex;
text-align: center !important;
}
.rechercheetfiltre.container {
padding-right: 0px;
padding-left: 0px;
}
#hebermars .pickbackground {
        background: #F2F2F2;
        border-radius: 0px !important;
        padding: 30px 25px;
        min-height: 519px;
        margin-bottom: 0px;
    }
#hebermars .leplupop {
order: 0;
flex: 0 1 100%;
}
#hebermars .pickbackground .groupdefigures {
flex-direction: column;
}
#hebermars .pickbackground {
flex-direction: column;
padding-left: 5%;
padding-right: 5%;
}
#hebermars .pickbackground .groupdefigures figure {
transform: scale(1.05);
width: auto;
margin-right: 2%;
margin-left: 2%;
}
#hebermars .classicmars {
order: 1;
flex: 1;
margin-right: 0%;
}

#activmars .pickbackground {
padding-right: 5%;
padding-left: 5%
}

.activmarsection > div:nth-child(1) > h1:nth-child(1) {
	margin-left: 0;
}

#activmars .groupdefigures	{
display:flex;
flex-direction:column;
width: 100%;
margin-left: auto;
margin-right: auto;
}	

#activmars .vignet {
width:100%;
margin: 0;
}
#activmars .groupvignett {
padding-left: 0px;
padding-right: 0px;
}
#activmars .groupdefigures .vignet {
justify-content: center !important;
margin: auto !important;}
#activmars .vignetdoubl .figure {
width: 100% !important;
margin-right: 0 !important;
}
#activmars .vignet .figure {
width: 100% !important;
margin-right: 0 !important;
}
#activmars .vignetdoubl {
width:100%;
margin: auto;
}
footer {
flex-flow: row wrap;
}
}
